body {
  width:100%;
  padding:0;
  margin: 0;
  font-family: 'NanumGothicBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#skills>div>div>div>div>div {
  transition: transform 0.5s ease;
  height:37px;
}

#skills>div>div>div>div>div:hover {
  transform: translate(0, -2.7px);
}

#buttonToTitle>div>div>div:hover {
  background-color: rgb(230, 229, 229);
}

#page-up-button {
  position: fixed;
  bottom: 2.5rem;
  right: 10rem;
}

.style-project-box {
  /* box-shadow: 0px 0px 7px 2px #EDEDED; */
  border: 1px solid rgb(173, 173, 173);
}

#source-link{
  color:black;
}

#source-link:hover {
  background-color: rgb(42, 42, 42);
  color:white;
}

#site-link{
  color:black;
}

#site-link:hover {
  background-color: rgb(42, 42, 42);
  color:white;
}

#collpase-button{
  color:black;
}

#collpase-button:hover{
  background-color: rgb(104, 104, 104);
  color:white;
}